body{
    font-family: "open sans", sans-serif;
}
.Display-Flex{
    display: flex;
    margin: 0;
}
.green-background {
    background-color: #000000;
}
.top-spacing{
    padding-top: 50px;
}
.center-text{
    text-align: center;
}
.fullwidth{
   width: 100%;
}
.padding-all{
    padding: 50px;
}
h1{
    color: black;
    font-size: 48px;
}
h2{
    color: #000000;
    font-size: 24px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li{
    width: 50%;
}
ul li::before{
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 12px;
    background-color: black;
    border-radius: 100%;
}
.flex{
    display: flex;
}
.form-input{
   border:none; 
   padding: 10px;
   border-radius: 4px;
   outline: none;
   margin-bottom: 10px;
   background-color:lightgray;
}
.form-submit{
    border-radius: 4px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
}
footer{
    background-color: #ffffff;
}
.white-text{
    color: #ffc0cb;
}
.full-width-link{
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}
.full-width-link:hover{
    background-color:pink;
    color: #000;
}
.right-column{
    margin: 0;
}
.padding-footer{
    padding: 10px;
    text-align: center;
}
.margin-input{
    margin-left: 10px;
}
.icons{
    color: #ffc0cb;
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}
.icons:hover{
    background-color:pink;
    color: #000;
}
.pad-p{
    padding: 25px;
}
.neon__button a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffc0cb;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 0;
}
.neon__button a:hover{
    background: #ffc0cb;
    color: #050801;
    box-shadow: 0 0 5px #ffc0cb,
                0 0 25px #ffc0cb,
                0 0 50px #ffc0cb,
                0 0 200px #ffc0cb;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.neon__button a:nth-child(2){
    filter: hue-rotate(110deg);
}
.neon__button a span{
    position: absolute;
    display: block;
}
.neon__button a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ffc0cb);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.neon__button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffc0cb);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.neon__button a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ffc0cb);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.neon__button a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffc0cb);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}